<!DOCTYPE html>
<html>
	<head>
		<title>
			Index Page
		</title>
		<body>
			<form action="/register" method="post">
				<h2>Registration Form</h2>		
						
				<label>Username</label>
				<input type="text" name="username">
				<br><br>
				
				<label>Email</label>
				<input type="email" name="email">
				<br><br>
				
				<label>Password</label>
				<input type="Password" name="password">
				<br><br>
								
				<label>Gender</label>
				<input type="radio" value="male" name="gender">
				<label>Male</label>
				<input type="radio" value="female" name="gender">
				<label>Female</label>
				<input type="radio" value="others" name="gender">
				<label>Others</label>
				<br><br>
				
				<label>Role</label>
				<input type="radio" value="admin" name="Role">
				<label>Admin</label>
				<input type="radio" value="customer" name="Role">
				<label>Customer</label>
				<br><br>
			
				<label>Address</label>
				<textarea name="address"></textarea>
				<br><br>
				
				<input type="submit" value="SUBMIT">
			</form>
		</body>
	</head>
</html>